* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #c8e6c9
}

#wrapper {
    width: 1000px;
    height: 900px;
    margin: 0 auto;
}

#header {
    background-color: #2e7d32;

    color: white;
    text-align: center;
    font-size: 40px;

    width: 1000px;
    height: 100px;
    line-height: 100px;
}

#navigator {
    background-color: #388e3c;

    color: white;
    text-align: center;
    font-size: 40px;

    width: 1000px;
    height: 100px;
    line-height: 100px;
}

#main {
    overflow: hidden;
}

#side {
    background-color: #43a047;
    color: white;
    text-align: center;
    font-size: 40px;
    float: left;
    width: 300px;
    height: 600px;
    line-height: 600px;
}

#contents {
    background-color: #4caf50;
    color: white;
    text-align: center;
    font-size: 40px;
    float: left;
    width: 700px;
    height: 600px;
    line-height: 600px;
}

#footer {
    background-color: #66bb6a;
    color: white;
    text-align: center;
    font-size: 40px;
    width: 1000px;
    height: 100px;
    line-height: 100px;
}